.Footer{
    background-color: var(--gray);
    color: var(--white);
    height: fit-content;
    width: 100%;
    border-radius: var(--sectionRadius);
}
.border_top{
    border-top: 2px solid var(--white);
}
.first_footer_row{
    padding: 0 var(--paddingHorizontal) 0;
    height: 190px;
    @media (max-width: 1440px) {
        height: 208px;
    }
    @media (max-width: 1024px) {
        height: 180px;
    }
    @media (max-width: 479px) {
        height: 110px;
    }
}
.footer_contacts{
    display: flex;
    flex-direction: column;
    gap: 8px;
    .paragraph{
        font-size: 15px;
        @media (max-width: 1024px) {
            font-size: 20px;
        }    
    }
    .header{
        font-size: 50px;
    }
    @media (max-width: 1440px) {
        .header{
            font-size: 45px;
        }    
    }
    @media (max-width: 479px) {
        .paragraph{
            font-size: 14px;
        }
        .header{
            font-size: 24px;
        }
    }
}
.second_footer_row{
    align-items: center;
    padding: 0 var(--paddingHorizontal) 0;
    height: 124px;
    @media (max-width: 1440px) {
        height: 120px;
    }
    @media (max-width: 479px) {
        height: 90px;
    }
}
.footer_links{
    display: flex;
    gap: 40px;
    a{
        color: var(--white);
    }
}
@media (max-width: 1024px) {
    .footer_links{
        display: none;
    }
}