<footer class="Footer">
  <div class="justify align_center first_footer_row">
    <div class="footer_contacts">
      <p class="paragraph">Остались вопросы? Напишите нам:</p>
      <a class="header brand magnit" href="mailto:post@magnit.ru">post@magnit.ru</a>
    </div>
    <a class="back_to_top" href="#">
      <img src="/ArrowActiveRed.svg" alt="">
      Наверх
    </a>
  </div>
  <div class="justify align_center border_top second_footer_row">
    <p class="paragraph">2024-2025 © ООО «Магнит Маркет»</p>
    <div class="footer_links">
      <a href="/geography/">география</a>
      <a href="/for-internet-shops/">интернет-магазинам</a>
      <a href="/vacancies/">вакансии</a>
    </div>
  </div>
</footer>


